/* 
--Author : limeng lwx236198
--Time : 2014-11-11
--Desc : 
 */

@charset "utf-8";

.pager

{

    width: 720px;

    height: 30px;

    padding: 0;

    margin: 0;

    padding-top: 10px;

    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
    
   /* position: fixed; 
    
    bottom:1em;*/

}

.pager div.showpager{
	float: left;
	
}

.pager div.short

{

    float: left;

    margin: 0;

    padding: 0;

    margin-right: 10px;

    width: 74px;
    margin-left:4%;

}

.pager div.short input

{
    width: 28px;
    border: none;
    height: 25px;
    text-align: center;
    float: left;
    border-radius: 0.4em;
    background: none repeat scroll 0 0 #35383D;

}
.pager div.short .shortinput{
	
	
}

.pager ul

{

    list-style: none;

    padding: 0;

    margin: 0;

    float: left;
     /* padding-left: 13px; */
     margin-right: 10px; 
     
     margin-top: 7px;

}

.pager ul li

{

    display: inline;

    margin-left: 3px;

}

.pager ul li a,.pager div.short .shortinput

{

    text-decoration: none;

    display: inline-table;

    width: 23px;

    height: 20px;

    text-align: center;

    border-radius: 4px;

    -moz-border-radius: 4px;

}

.pager ul li a:hover,.pager ul li a:visited{
	color:#CCC;
}

.pager span

{

    margin-left: 4px;

    color: White;

    float: left;

}

.pager .btn

{

    display: block;

    width: 40px;

    text-align: center;

    float: left;

    padding: 0;

    margin: 0;

    margin-left: 4px;

    cursor: pointer;

    border-radius: 4px;

    -moz-border-radius: 4px;

    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    -o-user-select: none;

    user-select: none;

}

.pager .disabled

{

    color: #A0A0A0 !important;

    text-shadow: 1px 1px 1px #FFFFFF;

}

/*green*/
.green

{
/* background-color:#588500; */
    /* background: none repeat scroll 0 0 rgba(44, 54, 64, 0.3);  
     position:absolute; */
   /* bottom: 1em;
    left: 1.875em;*/
    width:100%;
    z-index:1;
}

.green.normal

{
    background: repeat scroll 0 0 rgba(44, 54, 64, 0.3);  
    color:#8e8e8e;
    /* background-color: #588500;

    color: White;

    border: solid 1px #5f9000;
 */
}

.green.active

{
 background: none repeat scroll 0 0 rgba(88, 133, 0);  
    /* background-color: #344C00;

    color: #F8EB00;

    border: solid 1px #5f9000; */
    color:#fff;

}

/* 防止页码抖动重新更换的class */
.pagerchange

{
    background: none repeat scroll 0 0 rgba(44, 54, 64, 0.3);  
    bottom: 1em;
    left: 1.875em;
    width:95.5%;
    z-index:1;
}

.pagerchange.normal

{
    background: repeat scroll 0 0 rgba(44, 54, 64, 0.3);  
    color:#8e8e8e;
}

.pagerchange.active

{
 background: none repeat scroll 0 0 rgba(88, 133, 0);  
    color:#fff;
}



.pager.green .btn

{

    /* background-color: #35383d;  */

    color: White;
    margin-right: 15px;
    margin-top: 7px;
    width: 10px;
   /*  border: solid 1px #5f9000; */

}
.pager.green .btnGo{
	margin-top: 0px;
	width: 27px;
}

.pager.green .pageTotal{
	float:right;
	width:200px;
}

.pager.green .btnPrev{
	/* margin-left:38%; */
}

.pager.green .btnLast{
	margin-top: 7px;
}

.pager.green .btnFirst{
	margin-left: 40%; 
    /* margin-right: 3%; */
    margin-top: 7px;
}

.maintence_green{
	position:static; 

}
.lan_input{
	display:none;
	}